.Contactcontainer {
    
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
    padding: 20px;
    background-color: #f98949;
  }
  
  .contact-card {
    width: 400px;
    padding: 20px;
  }
  
  .contact-heading {
    color: #f98949; /* Primary color */
  }
  
  .contact-button {
    background-color: #f98949; /* Primary color */
    color: black; /* Secondary color */
  }
  
  .contact-button:hover {
    background-color: #e57b3d; /* Darker shade for hover effect */
  }
  