@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

.home-container {
  position: relative;
  
  height: 100vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f98949;
  z-index: 5;
}

.center-text {
  position: absolute;
  text-align: center;
  z-index: 1;
  font-family: 'Bebas Neue', sans-serif;
  font-weight: 900;
  color:black
}



